<?xml version="1.0"?>
  <appSettings>
    <add key="credentialUserName" value="amille24@rams.shepherd.edu"/>
    <add key="sentFrom" value="amille24@rams.shepherd.edu"/>
    <add key="pwd" value="summer11"/>
    <add key="appId" value="1535623450033010" />
    <add key="appSecret" value="7772562dafaf5134d512905290c26db6​" />
    <add key="ClientId" value="122296981655-mbvkkpoo9j8a0h7rb80u2851qekdi249.apps.googleusercontent.com" />
    <add key="ClientSecret" value="RIlRpE8z-gOr2m_gl9Q1L0OS" />
    <add key="ConnectionString" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Andrew\Documents\HotelWebApp\HotelWebApp\App_Data\HotelReservationSystemDB.mdf;Integrated Security=True"/>
    
    <!--<add key="ConnectionString" value="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\Andrew\Desktop\TestWebForms\TestWebForms\App_Data\aspnet-TestWebForms-20150302012141.mdf;Initial Catalog=aspnet-TestWebForms-20150302012141;Integrated Security=True" />
    -->
  </appSettings>
