<?xml version="1.0"?>
  <appSettings>
    <add key="credentialUserName" value=""/>
    <add key="sentFrom" value=""/>
    <add key="pwd" value=""/>
    <add key="appId" value="" />
    <add key="appSecret" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="ConnectionString" value="" />
  </appSettings>
